<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.csj.application.dao.UserMapper" >
  <resultMap id="BaseResultMap" type="com.csj.application.model.User" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="act" property="act" jdbcType="VARCHAR" />
    <result column="pwd" property="pwd" jdbcType="VARCHAR" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="nick" property="nick" jdbcType="VARCHAR" />
    <result column="e_mail" property="eMail" jdbcType="VARCHAR" />
    <result column="mobile_phone" property="mobilePhone" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="act_type" property="actType" jdbcType="VARCHAR" />
    <result column="parent_act" property="parentAct" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="last_login_time" property="lastLoginTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, act, pwd, user_name, nick, e_mail, mobile_phone, status, act_type, parent_act, 
    create_time, last_login_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from sys_user
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from sys_user
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.csj.application.model.User" >
    insert into sys_user (id, act, pwd, 
      user_name, nick, e_mail, 
      mobile_phone, status, act_type, 
      parent_act, create_time, last_login_time
      )
    values (#{id,jdbcType=VARCHAR}, #{act,jdbcType=VARCHAR}, #{pwd,jdbcType=VARCHAR}, 
      #{userName,jdbcType=VARCHAR}, #{nick,jdbcType=VARCHAR}, #{eMail,jdbcType=VARCHAR}, 
      #{mobilePhone,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, #{actType,jdbcType=VARCHAR}, 
      #{parentAct,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{lastLoginTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.csj.application.model.User" >
    insert into sys_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="act != null" >
        act,
      </if>
      <if test="pwd != null" >
        pwd,
      </if>
      <if test="userName != null" >
        user_name,
      </if>
      <if test="nick != null" >
        nick,
      </if>
      <if test="eMail != null" >
        e_mail,
      </if>
      <if test="mobilePhone != null" >
        mobile_phone,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="actType != null" >
        act_type,
      </if>
      <if test="parentAct != null" >
        parent_act,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="lastLoginTime != null" >
        last_login_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="act != null" >
        #{act,jdbcType=VARCHAR},
      </if>
      <if test="pwd != null" >
        #{pwd,jdbcType=VARCHAR},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="nick != null" >
        #{nick,jdbcType=VARCHAR},
      </if>
      <if test="eMail != null" >
        #{eMail,jdbcType=VARCHAR},
      </if>
      <if test="mobilePhone != null" >
        #{mobilePhone,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="actType != null" >
        #{actType,jdbcType=VARCHAR},
      </if>
      <if test="parentAct != null" >
        #{parentAct,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastLoginTime != null" >
        #{lastLoginTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.csj.application.model.User" >
    update sys_user
    <set >
      <if test="act != null" >
        act = #{act,jdbcType=VARCHAR},
      </if>
      <if test="pwd != null" >
        pwd = #{pwd,jdbcType=VARCHAR},
      </if>
      <if test="userName != null" >
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="nick != null" >
        nick = #{nick,jdbcType=VARCHAR},
      </if>
      <if test="eMail != null" >
        e_mail = #{eMail,jdbcType=VARCHAR},
      </if>
      <if test="mobilePhone != null" >
        mobile_phone = #{mobilePhone,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="actType != null" >
        act_type = #{actType,jdbcType=VARCHAR},
      </if>
      <if test="parentAct != null" >
        parent_act = #{parentAct,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastLoginTime != null" >
        last_login_time = #{lastLoginTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.csj.application.model.User" >
    update sys_user
    set act = #{act,jdbcType=VARCHAR},
      pwd = #{pwd,jdbcType=VARCHAR},
      user_name = #{userName,jdbcType=VARCHAR},
      nick = #{nick,jdbcType=VARCHAR},
      e_mail = #{eMail,jdbcType=VARCHAR},
      mobile_phone = #{mobilePhone,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      act_type = #{actType,jdbcType=VARCHAR},
      parent_act = #{parentAct,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      last_login_time = #{lastLoginTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>


  <select id="selectByUserName" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select * from sys_user  where act = #{act,jdbcType=VARCHAR}
  </select>

</mapper>